@import 'dvla-internal-elements-node';

//maxlength 7
.form-control.form-control-custom1{
    width: 90px; }

//maxlength 20
.form-control.form-control-custom2{
    width: 24%; }

//maxlength 11
.form-control.form-control-custom3{
    width: 14%; }

//maxlength 19
.form-control.form-control-custom4{
    width: 23%; }

//maxlength 2
.form-control.form-control-custom5{
    width: 45px; }

//maxlength 4
.form-control.form-control-custom6{
    width: 63px; }

//alt maxlength 2 when used in inline
.form-control.form-control-custom7{
    width: 50px; }

//maxlength 28
.form-control.form-control-custom7{
    width: 33%; }

//maxlength 3
.form-control.form-control-custom8{
        width: 50px; }

//maxlength 15
.form-control.form-control-custom9{
    width: 175px; }

//maxlength 5
.form-control.form-control-custom10{
    width: 72px; }

//maxlength 22
.form-control.form-control-custom11{
    width: 237px; }

//maxlength 35
.form-control.form-control-custom12{
    width: 380px; }

//maxlength 25
.form-control.form-control-custom13{
    width: 280px; }

//maxlength 30
.form-control.form-control-custom14{
    width: 330px; }

 //maxlength 6
.form-control.form-control-custom15{
    width: 83px; }

//maxlength 10
.form-control.form-control-custom16{
    width: 125px; }

//input group max length 9
.input-group.input-group-custom1 {
        width: 16%; }

.custcol-1 {
    width: 8.33333%;
    position: relative;
    min-height: 1px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px; 
}