{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Dimension details {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/emissionsdetailscheck" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2>Dimension details</h2>
        <br>
        <br>
        <div class="form-group" id="wheelbase">
            <label for="wheelbase">
        <div class="label-title">Wheelbase (mm)</div>
        </label>
            <input type="text" class="form-control form-control-custom6" maxlength="4">
        </div>
            <div class="form-group" id="width">
            <label for="width">
        <div class="label-title">Width (mm)</div>
        </label>
            <input type="text" class="form-control form-control-custom6" maxlength="4">
        </div>
                <div class="form-group" id="length">
            <label for="length">
        <div class="label-title">Length (mm)</div>
        </label>
            <input type="text" class="form-control form-control-custom6" maxlength="4">
        </div>
                    <div class="form-group" id="revweight">
            <label for="rev_weight">
        <div class="label-title">Revenue weight (kg)</div>
            </label>
            <input type="text" class="form-control form-control-custom10" maxlength="5">
        </div>
                                 <div class="form-group" id="max_permis">
            <label for="max_permis">
        <div class="label-title">Max permisible mass (kg)</div>
        </label>
            <input type="text" class="form-control form-control-custom10" maxlength="5">
        </div>
            <div class="form-group" id="unladen_weight">
            <label for="unladen_weight">
        <div class="label-title">Unladen weight (kg)</div>
        </label>
            <input type="text" class="form-control form-control-custom10" maxlength="5">
        </div>
        <div class="form-group">
            <label for="max_net" id="max_net">
        <div class="label-title">Max net power (kW)</div>
        </label>
            <input type="text" class="form-control form-control-custom8" maxlength="3">
        </div>
        <div class="form-group" id="mass_in_service">
            <label for="mass_in_service">
        <div class="label-title">Mass in service (kg)</div>
        </label>
            <input type="text" class="form-control form-control-custom10" maxlength="5">
        </div>
        <div class="label-title">Track width axel(s) (mm) (1) (2) (3)</div> 
        <br>
        <div class="row">
         <div class="col-cust3" id="min">
    <label for="min">
<div class="label-title">Min</div>
</label>
        <div class="input-group">
    <input type="text" class="form-control" maxlength="4">
        </div>
</div>
<div class="col-cust3" id="max">
    <label for="max2">
<div class="label-title">Max</div>
</label>
        <div class="input-group"> 
    <input type="text" class="form-control" maxlength="4">
    </div>
        </div>
        
</div>
<br>

<div class="row">
    <div class="col-cust3" id="min2">
<label for="min3">
<div class="label-title">Min</div>
</label>
   <div class="input-group">
<input type="text" class="form-control" maxlength="4">
   </div>
</div>
<div class="col-cust3" id="max2">
<label for="max">
<div class="label-title">Max</div>
</label>
   <div class="input-group">
       
   
<input type="text" class="form-control" maxlength="4">
</div>
   </div>
</div>
<br>

<div class="row">
    <div class="col-cust3" id="min3">
<label for="min">
<div class="label-title">Min</div>
</label>
   <div class="input-group">
<input type="text" class="form-control" maxlength="4">
   </div>
</div>
<div class="col-cust3" id="max3">
<label for="max">
<div class="label-title">Max</div>
</label>
   <div class="input-group">
       
   
<input type="text" class="form-control" maxlength="4">
</div>
   </div>
</div>
<br>

<div class="row">
    <div class="col-cust3" id="min4">
<label for="min">
<div class="label-title">Min</div>
</label>
   <div class="input-group">
<input type="text" class="form-control" maxlength="4">
   </div>
</div>
<div class="col-cust3" id="max4">
<label for="max">
<div class="label-title">Max</div>
</label>
   <div class="input-group">
       
   
<input type="text" class="form-control" maxlength="4">
</div>
   </div>
</div>
<br>
<br>
<div class="label-title">Technical permissable maximum towable mass of the trailer (Kg)</div> 
<br>
<div class="row">
 <div class="col-cust4" id="braked">
<label for="min">
<div class="label-title">Braked</div>
</label>
<div class="input-group">
<input type="text" class="form-control" maxlength="5">
</div>
</div>
<div class="col-cust4" id="unbraked">
<label for="max">
<div class="label-title">Unbraked</div>
</label>
<div class="input-group">
    

<input type="text" class="form-control" maxlength="5">
</div>
</div>
 
      
     
            
         
    
            </div> 
            
             
            </div>
            
<br>
    <br>
    <br>
    </div>
              <a href="/dimensiondetailscheck.html" class="btn btn-primary">Continue</a>
                
           
         {% endblock %}
