{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Dimension details check {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/dimensiondetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
<h2>Dimension details check</h2>
<br>
<br>
        <ul class="list">
            <li class="list-title-row">
                <span class="list-title">
                  Dimension details
                </span>
                <span class="list-change">
                    <a href="/dimensiondetails.html">Change</a>
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="wheelbase">
                    Wheelbase
                </span>
                <span class="list-data">
                    100000 mm
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="width">
                    Width
                </span>
                <span class="list-data">
                    100000 mm
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="length">
                   Length
                </span>
                <span class="list-data">
                    100000 mm
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="revenue">
                  Revenue weight
                </span>
                <span class="list-data">
                    1.400 kg
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="maxper">
                    Max permissable mass
                </span>
                <span class="list-data">
                    1.500 kg
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="unladen">
                   Unladen weight
                </span>
                <span class="list-data">
                    1.600 kg
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="maxnet">
                   Max net power
                </span>
                <span class="list-data">
                    1.41 Kw
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="massin">
                   Mass in service
                </span>
                <span class="list-data">
                    1.600 kg
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="track1">
                   Track width axel (1)
                </span>
                <span class="list-data">
                    1800
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="track2">
                   Track width axel (2)
                </span>
                <span class="list-data">
                    1800
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="track3">
                   Track width axel (3)
                </span>
                <span class="list-data">
                    1800
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="track4">
                   Track width axel (4)
                </span>
                <span class="list-data">
                    1800
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="track5">
                   Track width axel (5)
                </span>
                <span class="list-data">
                    1800
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="tow">
                   Maximum towable mass of the trailer
                </span>
                <span class="list-data">
                    1800 Braked<br>
                    1900 Unbraked
                </span>
            </li>
           
            
           
        </ul>
        
    
    





     
                <a href="/sounddetails.html" class="btn btn-primary">Continue</a>
                </div>
                </div>
            
{% endblock %}
