{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Emissions detail check {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/emissionsdetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
<h2>Emissions detail check</h2>
<br>
<br>
<!--emission_details-->
        <ul class="list">
            <li class="list-title-row">
                <span class="list-title">
                   Emission details
                </span>
                <span class="list-change">
                    <a href="/emissionsdetails.html">Change</a>
                </span>
            </li>
<!--co2(g/km)-->
            <li class="list-row">
                <span class="list-property" id="co2">
                    CO2 (g/km)
                </span>
                <span class="list-data">
                    120
                </span>
            </li>
<!--devation_factor-->
            <li class="list-row">
                <span class="list-property" id="devation">
                    Devation factor
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
<!--wltp_co2-->
            <li class="list-row">
                <span class="list-property" id="wltp">
                   WLTP CO2
                </span>
                <span class="list-data">
                    120
                </span>
            </li>
<!--hc-->
            <li class="list-row">
                <span class="list-property" id="hc">
                  HC
                </span>
                <span class="list-data">
                    111
                </span>
            </li>
<!--particulates-->
            <li class="list-row">
                <span class="list-property" id="particulates">
                    Particualtes
                </span>
                <span class="list-data">
                    1234
                </span>
            </li>
<!--co-->
            <li class="list-row">
                <span class="list-property" id="co">
                    CO
                </span>
                <span class="list-data">
                    1.1
                </span>
            </li>
<!--Specific_CO2_emissions-->
            <li class="list-row">
                <span class="list-property" id="specco2">
                   Specific CO2 emissions
                </span>
                <span class="list-data">
                    1.1
                </span>
            </li>
<!--nox-->
            <li class="list-row">
                <span class="list-property" id="nox">
                   NOx
                </span>
                <span class="list-data">
                    1.2345
                </span>
            </li>
<!--Verification_factor-->
            <li class="list-row">
                <span class="list-property" id="verification">
                   Verification factor
                </span>
                <span class="list-data">
                    Plceholder
                </span>
            </li>
<!--hc+nox-->
            <li class="list-row">
                <span class="list-property" id="hcnox">
                   HC + NOx
                </span>
                <span class="list-data">
                    1.2345
                </span>
            </li>
<!--wltp_test_mass-->
            <li class="list-row">
                <span class="list-property" id="wltp">
                   WLTP test mass
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
<!--electric_energy_consumption-->
            <li class="list-row">
                <span class="list-property" id="energy">
                   Electric energy consumption
                </span>
                <span class="list-data">
                    1.4 KW
                </span>
            </li>
<!--Code/group_for_innovative_tec-->
            <li class="list-row">
                <span class="list-property" id="innovative">
                   Code/group for innovative technology
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
<!--nedc-->
            <li class="list-row">
                <span class="list-property" id="nedc">
                   (NEDC)
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
<!--wltp-->
            <li class="list-row">
                <span class="list-property" id="wltp2">
                   (WLTP)
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
<!--innovative_tech_group-->
            <li class="list-row">
                <span class="list-property" id="tec">
                  Innovative technology group
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
            
           
        </ul>
        
    
    





     
                <a href="/dimensiondetails.html" class="btn btn-primary">Continue</a>
                </div>
                </div>
            
{% endblock %}
