{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Emissions details {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %}{% block content %}
<a href="/typeapprovcheck" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2>Emissions details</h2>
        <br>
        <br>
        <div class="form-group" id="co2">
            <label for="co2">
        <div class="label-title">CO2 (g/km)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
             <div class="form-group" id="dev_factor">
            <label for="devation_factor">
        <div class="label-title">Devation factor</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
            <div class="form-group" id="totalwltp">
            <label for="totalwltp">
        <div class="label-title">Total WLTP CO2 emissions</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
            <div class="form-group" id="hc">
            <label for="hc">
        <div class="label-title">HC (g/km or g/kWh)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="particulates">
            <label for="particualtes">
        <div class="label-title">Particulates (pmg/km or g/kWh)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="co">
            <label for="co">
        <div class="label-title">CO (g/km or g/kWh)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="specific_co2">
            <label for="specific_co2">
        <div class="label-title">Specific CO2 emissions (g/km)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="nox">
            <label for="nox">
        <div class="label-title">NOx (g/km or g/kWh)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="veritication_factor">
            <label for="verification_factor">
        <div class="label-title">Verification factor</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="hc_nox">
            <label for="hc_nox">
        <div class="label-title">HC + NOx (g/km)</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="wltp_test">
            <label for="wltp_test">
        <div class="label-title">WLTP test mass</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="electric_energy">
            <label for="electric_energy">
        <div class="label-title">Electric energy consumption</div>
        </label>
            <input type="text" class="form-control form-control-custom15" maxlength="6">
        </div>
            <div class="form-group" id="innovative_tech">
            <label for="innovative_tech">
        <div class="label-title">Code/Group for innovative technology</div>
        </label>
            <input type="text" class="form-control form-control-custom13" maxlength="25">
        </div>
               <div class="label-title">Emissions reduction through innovative technologies (a) + (b)</div> 
                <br>
                <div class="row">
                 <div class="col-cust2" id="nedc">
            <label for="nedc">
        <div class="label-title">(NEDC)</div>
        </label>
                <div class="input-group">
            <input type="text" class="form-control" maxlength="6">
                </div>
        </div>
     <div class="col-cust2" id="wltp">
            <label for="wltp">
        <div class="label-title">(WLTP)</div>
        </label>
                <div class="input-group">
                    
                
            <input type="text" class="form-control" maxlength="6">
            </div>
                </div>
        </div>
         <br>
         <br>
         
            <div class="form-group" id="innovative_tech">
            <label for="innovative_tech">
        <div class="label-title">Innovative technology or group of innovative technologies</div>
        </label>
            <input type="text" class="form-control form-control-custom13" maxlength="25">
        </div>
                
                     
                
                
                
                
              
       
                  <a href="/emissionsdetailscheck.html" class="btn btn-primary">Continue</a>
                     </div>
                     </div>
                
    {% endblock %}
