{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title
%} Vehicle summary {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home"></a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">

        <h4 class="heading-small-v2">V55/4 Input</h4>
        <h2 class="heading-extra-large-v2">Vehicle summary</h2>


        <!--reg_number-->

        <div class="form-group">
            <label for="Registration_number"></label>
            <div class="label-title">Registration number</div>
            <input type="text" class="form-control form-control-custom1" name="regnum" maxlength="7" id="regnum">
        </div>

        <!--listprice-->

        <div class="form-group">
            <label for="listprice"></label>
            <div class="label-title">List price</div>
            <div class="input-group input-group-custom1">
                <span class="input-group-addon">£</span>
                <input type="text" class="form-control" maxlength="9" id="listprice">
            </div>
        </div>

        <!--vehicle_drive-->

        <form>

            <div class="form-group inline">

                <fieldset>

                    <legend>
                        Is the vehicle left or right hand drive ?
                    </legend>

                    <div class="multiple-choice">
                        <input id="radio-inline-3" type="radio" name="radio-group" value="rh">
                        <label for="radio-inline-3">LH</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-inline-4" type="radio" name="radio-group" value="lh">
                        <label for="radio-inline-4">RH</label>
                    </div>

                </fieldset>
            </div>

        </form>

    </div>

    <div class="col-4">

        <!--make-->

        <div class="form-group">
            <label for="make">
                <div class="label-title">Make</div>
            </label>
            <input type="text" class="form-control" name="make" maxlength="20" id="make">
        </div>

    </div>

    <div class="col-4">

        <!--model-->

        <div class="form-group">
            <label for="model">
                <div class="label-title">Model</div>
            </label>
            <input type="text" class="form-control" name="model" maxlength="20" id="model">
        </div>

    </div>

    <div class="col-12">

        <!--engine_num-->

        <div class="form-group">
            <label for="Engine_number">
                <div class="label-title">Engine number</div>
            </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20" id="enginenum">
        </div>

        <!--colour-->

        <div class="form-group">
            <label for="colours">
                <div class="label-title">Colour(s)</div>
            </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20" id="colours">
        </div>

        <!--vin-->

        <div class="form-group">
            <label for="vin">
                <div class="label-title">Vehicle identification number</div>
            </label>
            <input type="text" class="form-control form-control-custom3" maxlength="11" id="vin">
        </div>

        <!--vehicle_family-->

        <div class="form-group">
            <label for="vehicle_family">
                <div class="label-title">Vehicle family identification number</div>
            </label>
            <input type="text" class="form-control form-control-custom4" maxlength="19" id="vehilcefam">
        </div>

        <!--country_vehicle-->

        <div class="form-group">
            <label for="countryveh">
                <div class="label-title">Country vehicle purchased from</div>
            </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20" id="countryveh">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Continue</button>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(".btn.btn-primary").click(function () {
        // Enter function name here
        checkAnswers();
    });
    function checkAnswers() {
        go('regdetails');
    }
</script> {% endblock %}