{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Vehicle summary {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">


        <h2>Vehicle summary</h2>
        <br>
        <br>
<!--REG_NUMBER-->
        <div class="form-group" id="registration_number">
            <label for="Registration_number">
        <div class="label-title">Registration number</div>
            <input type="text" class="form-control form-control-custom1" name="regnum" maxlength="7">
        </div>
        <!--LISTPRICE-->
            <div class="form-group" id="listprice">
            <label for="listprice">
        <div class="label-title">List price</div>
                <div class="input-group input-group-custom1">
                <span class="input-group-addon">£</span>
                
            <input type="text" class="form-control" maxlength="9">
                </div>
        </div>
    <!--VEHICLE_DRIVE-->
    <form>
    <div class="form-group inline" id="drive">
        <fieldset>
            <legend>
                Is the vehicle left or right hand drive ?
            </legend>
      
            <div class="multiple-choice">
                <input id="radio-inline-3" type="radio" name="radio-group" value="rh" id="rh">
                <label for="radio-inline-3">RH</label>
        </div>
        <div class="multiple-choice">
            <input id="radio-inline-4" type="radio" name="radio-group" value="lh" id="lh">
            <label for="radio-inline-4">LH</label>
        </div>

        </fieldset>
    </div>
    </form>

</div>

<!--MAKE-->
<div class="col-cust1">
    <div class="form-group" id="make">
        <label for="make">
        <div class="label-title">Make</div>
        </label>
            <input type="text" class="form-control" name="make" maxlength="20">
        </div>
    </div>
    <!--MODEL-->
    <div class="col-cust1">
        <div class="form-group" id="model">
            <label for="model">
        <div class="label-title">Model</div>
        </label>
            <input type="text" class="form-control" name="model" maxlength="20">
        </div>
    </div>
</div>
<!--ENGINE_NUM-->
     <div class="form-group">
            <label for="Engine_number" id="engine_number">
        <div class="label-title">Engine number</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
<!--COLOUR-->
         <div class="form-group" id="colours">
            <label for="colours">
        <div class="label-title">Colour(s)</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
<!--VIN-->
             <div class="form-group" id="vin">
            <label for="vin">
        <div class="label-title">Vehicle identification number</div>
        </label>
            <input type="text" class="form-control form-control-custom3" maxlength="11">
        </div>
<!--VEHICLE_FAM-->
                      <div class="form-group" id="vehicle_family">
            <label for="vehicle_family">
        <div class="label-title">Vehicle family identification number</div>
        </label>
            <input type="text" class="form-control form-control-custom4" maxlength="19">
        </div>
<!--COUNTRY_VEHILCE-->
            <div class="form-group" id="country_vehicle">
            <label for="country_vehicle">
        <div class="label-title">Country vehicle purchased from</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
                <a href="/summarycheck.html" class="btn btn-primary">Continue</a>
{% endblock %}


