{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Keeper details {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/smmt" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2 style="margin-bottom: 40px;">Keeper details</h2>

        <div class="form-group" id="title">
            <label for="Title">
        <div class="label-title">Title</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
                <br>
                <br>
        <div class="form-group" id="company_name">   
            <label for="company_name"> 
        <div class="label-title">Company name</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
                <br>
                <br>
              <div class="form-group" id="first_name">      
                 <label for="first_name">
        <div class="label-title">First name(s)</div>
        </label>
            <input type="text" class="form-control form-control-1-4">          
                     </div> 
            <div class="form-group" id="surname">      
                 <label for="surname">
        <div class="label-title">Surname</div>
        </label>
            <input type="text" class="form-control form-control-1-4">          
                     </div> 
                <div class="form-group" id="dvla_fleet">      
                 <label for="dvla_fleet">
        <div class="label-title">Dvla fleet number</div>
        </label>
            <input type="text" class="form-control form-control-1-4">          
                     </div>
                    
                    <div class="form-group" id="reg_number>    
            <label for="registration_number">
        <div class="label-title">Date of birth</div>
        </label>
            <input type="text" class="form-control form-control-1-4" style="width:60px;"placeholder="DD" id="day">
                <input type="text" class="form-control form-control-1-4" style="width:60px;"placeholder="MM" id="month">
                <input type="text" class="form-control form-control-1-4" style="width:65px;"placeholder="YYYY" id"year">
                </div>
                  
                         <div class="form-group" id="address">      
                 <label for="address">
        <div class="label-title">Address</div>
        </label>
            <input type="text" class="form-control form-control-1-3" id="addressline1"><br>
                     <input type="text" class="form-control form-control-1-3" id="addressline2"><br>
                     <input type="text" class="form-control form-control-1-3" id="addressline3"><br>
                     <input type="text" class="form-control form-control-1-3" id="addressline4"><br>
                     </div>
                             
        <div class="form-group" id="post_town">
            <label for="post_town">
        <div class="label-title">Post town</div>
        </label>
            <input type="text" class="form-control form-control-1-3">
                <br>
                <br>
                 <div class="form-group" id="post_code">
            <label for="post_code">
        <div class="label-title">Post code</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
      
</div>
                             
                  
                  
                
        </div>
                <a href="/index.html" class="btn btn-primary">Submit</a>
{% endblock %}
