{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Keeper details check {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/keeperdetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
<h2>Keeper details check</h2>
<br>
<br>
<!--keeper_details-->
        <ul class="list">
            <li class="list-title-row">
                <span class="list-title">
                   Keeper Details
                </span>
                <span class="list-change">
                    <a href="/keeperdetails.html">Change</a>
                </span>
            </li>
<!--title-->
            <li class="list-row">
                <span class="list-property" id="title">
                    Title
                </span>
                <span class="list-data">
                    Doctor
                </span>
            </li>
<!--company_name-->
            <li class="list-row">
                <span class="list-property" id="company">
                    Company name
                </span>
                <span class="list-data">
                    Company and company
                </span>
            </li>
<!--first_name-->
            <li class="list-row">
                <span class="list-property" id="first">
                   First name (s)
                </span>
                <span class="list-data">
                    Tim Jim
                </span>
            </li>
<!--surname-->
            <li class="list-row">
                <span class="list-property" id="surname">
                  Surname
                </span>
                <span class="list-data">
                    Kim
                </span>
            </li>
<!--address-->
            <li class="list-row">
                <span class="list-property" id="address">
                    Address
                </span>
                <span class="list-data">
                    12 nowhere street<br>
                    Maduptown<br>
                    Lilltyput<br>
                    SAZZ12
                </span>
            </li>    
           
        </ul>
        
    
    





     
                <a href="/index.html" class="btn btn-primary">Submit</a>
                </div>
                </div>
            
{% endblock %}
