{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Registration details {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %}{% block content %}
<a href="/summarycheck.html" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2>Registration details</h2>
        <br>
        <br>
    </div>
<!--tax_class-->
    <div class="col-cust" id="taxc">
        <label for="taxc">
            <div class="label-title">Tax class</div>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" maxlength="30">
        </div>
    </div>
<!--period_of_tax-->  
    <div class="col-2" id="periodoftax">
        <label for="periodoftax">
            <div class="label-title">Period of tax</div>
        </label>
        <div class="input-group">  
            <input type="text" class="form-control" maxlength="2">
        </div>
    </div>
<!--tax_payable-->
    <div class="col-2" id="taxpayable">
        <label for="Taxpayable">
            <div class="label-title">Tax payable</div>
        </label>
        <div class="input-group">
            <span class="input-group-addon">£</span>    
            <input type="text" class="form-control" maxlength="6">
        </div>
    </div>
<!--reg_fee-->
          <div class="col-2" id="regfee">
            <label for="regfee">
        <div class="label-title">Registration fee</div>
        </label>
                <div class="input-group">
                     <span class="input-group-addon">£</span>
                
            <input type="text" class="form-control" maxlength="2">
                </div>
                </div>
                

             <br>
             <br>
             <br>
<!--dateofbirth-->           
<div class="col-12">
             <div class="form-group" id="dob">    
                <label for="date-of-birth">
            <div class="label-title">Date from which tax is to run</div>
            </label>
            <div>
        
            </div>
                <input type="text" class="form-control form-control-custom5" placeholder="DD" id="day" maxlength="2">
                    <input type="text" class="form-control form-control-custom5" placeholder="MM" id="month" maxlength="2">
                    <input type="text" class="form-control form-control-custom6"  placeholder="YYYY"id"year" maxlength="4">
                    </div>
<!--partial_postcode-->
        <div class="form-group" id="partpostcode">
            <label for="partpostcode">
        <div class="label-title">Partial postcode of purchaser</div>
        </label>
            <input type="text" class="form-control form-control-custom6" maxlength="4">
            </div>
<!--industry-->
        <div class="form-group" id="industry">
            <label for="industry">
        <div class="label-title">Industry in which vehicle is to be used</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
                 
        </div>
            <a href="/regdetailscheck.html" class="btn btn-primary">Continue</a>
    

    <br>




    
</div>
</div>
</div>
{% endblock %}
