{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Registration details {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %}{% block content %}
<a href="/index.html" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2 style="margin-bottom: 40px;">Registration details</h2>


        <div class="customcol">
            <label for="tax_class">
        <div class="label-title">Tax class</div>
                <div class="input-group">
            <input type="text" class="form-control">
                </div>
        </div>
     <div class="col-2">
            <label for="periodoftax">
        <div class="label-title">Period of tax</div>
                <div class="input-group">
                    
                
            <input type="text" class="form-control">
                </div>
        </div>
     
      <div class="col-2">
            <label for="Taxpayable">
        <div class="label-title">Tax payable</div>
                <div class="input-group">
                <span class="input-group-addon">£</span>
                
            <input type="text" class="form-control">
                </div>
        </div>
          <div class="col-2">
            <label for="periodoftax">
        <div class="label-title">Registration fee</div>
                <div class="input-group">
                     <span class="input-group-addon">£</span>
                
            <input type="text" class="form-control">
                </div>
</div>
              <br>
              <Br>
             <br>
    <div class="form-group">
            <label for="Registration_number">
        <div class="label-title">Dates from which tax is to run</div>
            <input type="text" class="form-control form-control-1-4" style="width:60px;"placeholder="DD">
                <input type="text" class="form-control form-control-1-4" style="width:60px;"placeholder="MM">
                <input type="text" class="form-control form-control-1-4" style="width:65px;"placeholder="YYYY">
                </div>
        <div class="form-group">
            <label for="Registration_number">
        <div class="label-title">Partial postcode of purchaser</div>
            <input type="text" class="form-control form-control-1-4" style="width:75px;">
        </div>
        <div class="form-group">
            <label for="Registration_number">
        <div class="label-title">Industry in which vehicle is to be used</div>
            <input type="text" class="form-control form-control-1-3">
                 
        </div>
            <a href="/vehiclespecs.html" class="btn btn-primary">Continue</a>
    </div>

    <br>




    
</div>
</div>
{% endblock %}
