{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Registration details check {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/regdetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
<h2>Registration details check</h2>
<br>
<br>
<!--reg_details-->
        <ul class="list">
            <li class="list-title-row">
                <span class="list-title">
                  Registration Details
                </span>
                <span class="list-change">
                    <a href="/regdetails.html">Change</a>
                </span>
            </li>
<!--tax_class-->
            <li class="list-row">
                <span class="list-property" id="taxclass">
                    Tax class
                </span>
                <span class="list-data">
                    Petrol
                </span>
            </li>
<!--peroid_of_tax-->
            <li class="list-row">
                <span class="list-property" id="taxperiod">
                    Period of tax
                </span>
                <span class="list-data">
                    12 months
                </span>
            </li>
<!--tax_payable-->
            <li class="list-row">
                <span class="list-property" id="payable">
                   Tax payable
                </span>
                <span class="list-data">
                    £165
                </span>
            </li>
<!--reg_fee-->
            <li class="list-row">
                <span class="list-property" id="regfee">
                   Registration fee
                </span>
                <span class="list-data">
                    £55
                </span>
            </li>
<!--taxation_date-->
            <li class="list-row">
                <span class="list-property" id="date">
                    Date from which tax is to run
                </span>
                <span class="list-data">
                    12/12/12
                </span>
            </li>
<!--partial_postcode-->
            <li class="list-row">
                <span class="list-property" id="partial">
                   Partial postcode of purchaser
                </span>
                <span class="list-data">
                    SA10
                </span>
            </li>
<!--vehicle_industry-->
            <li class="list-row">
                <span class="list-property" id="industry">
                   Industry in which vehicle is to be used
                </span>
                <span class="list-data">
                    Commmercial
                </span>
            </li>
        </ul>
        
    
    





     
                <a href="/vehiclespecs.html" class="btn btn-primary">Continue</a>
                </div>
                </div>
            
{% endblock %}
