{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} SMMT details check {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/smmt" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
<h2>SMMT details check</h2>
<br>
<br>
        <ul class="list">
            <li class="list-title-row">
                <span class="list-title">
                   SMMT Details
                </span>
                <span class="list-change">
                    <a href="/smmt.html">Change</a>
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="original">
                    Original dealer code
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="selling">
                    Selling dealer code
                </span>
                <span class="list-data">
                    Placeholder
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="sales">
                   Sales type
                </span>
                <span class="list-data">
                    Placeholder
                </span>     
            
        </ul>
        
    
    





     
                <a href="/keeperdetails.html" class="btn btn-primary">Continue</a>
                </div>
                </div>
            
{% endblock %}
