{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %}
SMMT details {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home"></a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}

<a href="/sounddetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">

        <h4 class="heading-small-v2">V55/4 Input</h4>
        <h2 class="heading-extra-large-v2">SMMT details</h2>


        <!--original_dealer_code-->

        <div class="form-group-cust">
            <label for="original_dealer">
                <div class="label-title">Original dealer code</div>
            </label>
            <input type="text" class="form-control form-control-custom16" maxlength="10" id="originaldeal">
        </div>

        <!--selling_dealer_code-->

        <div class="form-group-cust">
            <label for="selling_dealer">
                <div class="label-title">Selling dealer code</div>
            </label>
            <input type="text" class="form-control form-control-custom16" maxlength="10" id="sellingdeal">
        </div>

        <!--sales_type-->
        <div class="form-group-cust">
            <label for="sales_type-cust">
                <div class="label-title">Sales type</div>
            </label>
            <input type="text" class="form-control form-control-custom6" maxlength="4" id="salestype">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Contiune</button>
        </div>
    </div>



    <script type="text/javascript">
        $(".btn.btn-primary").click(function () {
            // Enter function name here
            checkAnswers();
        });
        function checkAnswers() {
            go('keeperdetails');
        }
    </script> {% endblock %}