{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} SMMT details {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/sounddetailscheck" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2>SMMT details</h2>
        <br>
        <br>
        
<!--ORIGINAL_DEALER_CODE-->
        <div class="form-group" id="original_dealer">
            <label for="original_dealer">
        <div class="label-title">Original dealer code</div>
        </label>
            <input type="text" class="form-control form-control-custom16" maxlength="10">
                </div>
<!--SELLING_DEALER_CODE-->
                 <div class="form-group" id="selling_dealer">
            <label for="selling_dealer">
        <div class="label-title">Selling dealer code</div>
        </label>
            <input type="text" class="form-control form-control-custom16" maxlength="10">
                </div>
<!--SALES_TYPE-->
                 <label for="sales_type" id="sales_type">
        <div class="label-title">Sales type</div>
        </label>
            <input type="text" class="form-control form-control-custom6" maxlength="4">    
                     </div>
                
                
        </div>
            <br>
            <br>
            
                <a href="/smmtdetailscheck.html" class="btn btn-primary">Continue</a>
{% endblock %}
