{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Sound details {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/dimensiondetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2 style="margin-bottom: 40px;">Sound details</h2>

        <div class="form-group" id="stationary_sound">
            <label for="stationary_sound">
        <div class="label-title">Stationary sound level (dB(A))</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
                </div>
                 <div class="form-group" id="engine_speed">
            <label for="engine_speed">
        <div class="label-title">Engine speed sound level (min-1)</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
                </div>
                 <label for="drive_by" id="drive_by">
        <div class="label-title">Drive-by sound level (dB(A))</div>
        </label>
            <input type="text" class="form-control form-control-1-4">  
                     </div>
                
               
        </div>
            <br>
            <br>
                <a href="/smmt.html" class="btn btn-primary">Continue</a>
{% endblock %}
