{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %} {% block page_title %} Type approval details check {% endblock %} {% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email-address@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/typeapprov" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
<h2>Type approval check</h2>
<br>
<br>
        <ul class="list">
            <li class="list-title-row">
                <span class="list-title">
                    Type approval details
                </span>
                <span class="list-change">
                    <a href="/typeapprov.html">Change</a>
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="typeapp">
                    Type approval number
                </span>
                <span class="list-data">
                    12345678910
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="type">
                    Type
                </span>
                <span class="list-data">
                    1A
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="version">
                   Version
                </span>
                <span class="list-data">
                    1AAAA
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="variant">
                   Variant
                </span>
                <span class="list-data">
                    1AAAAAAAA
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="euro">
                    Euro status
                </span>
                <span class="list-data">
                    123/*ec chapter 3
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="eurostatus">
                   Euro status directorate number
                </span>
                <span class="list-data">
                    1aaaaaaaa
                </span>
            </li>
            <li class="list-row">
                <span class="list-property" id="rde">
                   RDE step1/step2
                </span>
                <span class="list-data">
                    Step 1
                </span>
            </li>
            
           
        </ul>
        
    
    

</div>



     
                <a href="/emissionsdetails.html" class="btn btn-primary">Continue</a>
                </div>
            
{% endblock %}
