{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Vehicle specifications {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/regdetailscheck" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2>Vehicle specifications</h2>
        <br>
        <br>
<!--type_of_body-->
        <div class="form-group" id="typeofbod">
            <label for="typeofbod">
        <div class="label-title">Type of body/vehicle</div>
        </label>
            <input type="text" class="form-control form-control-custom7" maxlength="28">
        </div>
<!--vehicle-->
            <div class="form-group" id="vehicleautomation">
            <label for="vehicleautomationr">
        <div class="label-title">Vehicle automation status</div>
        </label>
            <input type="text" class="form-control form-control-custom8" maxlength="3">
        </div>
<!--wheelplan-->
            <div class="form-group" id="wheelplan">
            <label for="wheelplan">
        <div class="label-title">Wheelplan</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
<!--manufacturer-->
            <div class="form-group" id="manufacturer"> 
            <label for="manufacturer">
        <div class="label-title">Manufacturer</div>
        </label>
            <input type="text" class="form-control form-control-custom2" maxlength="20">
        </div>
<!--cylindercap-->
            <div class="form-group" id="cylindercap">
            <label for="cylindercap">
        <div class="label-title">Cylinder capacity</div>
        </label>
            <input type="text" class="form-control form-control-custom10" maxlength="5">
        </div>
<!--seats-->
                   <div class="form-group" id="seats">
            <label for="seats">
        <div class="label-title">No. of seats (inc driver)</div>
        </label>
            <input type="text" class="form-control form-control-custom5" maxlength="2">
        </div>



<a href="/vehiclespecscheck.html" class="btn btn-primary">Continue</a>
    </div>
    {% endblock %}
