{% extends 'layout-fixed.html' %} {% block head %} {% include 'includes/head.html' %} {% endblock %}{% block page_title %} Vehicle specifications {% endblock %}{% block header_application_title %}
<a href="/index" title="Service home">V55/4 Input</a> {% endblock %}{% block header_user_account %}
<div id="logout">
    <a href="#">Log out</a>
</div>
<div id="user-account-email">
    demo.email@dvla.gov.uk
</div>
{% endblock %} {% block content %}
<a href="/regdetails" class="btn-back">Back</a>
<div class="row">
    <div class="col-12">
        <h2 style="margin-bottom: 40px;">Vehicle specifications</h2>
        <div class="form-group" id="typeofbod">
            <label for="typeofbod">
        <div class="label-title">Type of body/vehicle</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
        </div>
            <div class="form-group" id="vehicleautomation">
            <label for="vehicleautomationr">
        <div class="label-title">Vehicle automation status</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
        </div>
            <div class="form-group" id="wheelplan">
            <label for="wheelplan">
        <div class="label-title">Wheelplan</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
        </div>
            <div class="form-group" id="manufacturer"> 
            <label for="manufacturer">
        <div class="label-title">Manufacturer</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
        </div>
                 <div class="form-group" id="typeoffuel">
            <label for="typeoffuel">
        <div class="label-title">Type of fuel</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
        </div>
            <div class="form-group" id="cylindercap">
            <label for="cylindercap">
        <div class="label-title">Cylinder capacity</div>
        </label>
            <input type="text" class="form-control form-control-1-4">
        </div>
                   <div class="form-group" id="cylindercap">
            <label for="cylindercap">
        <div class="label-title">No. of seats (inc driver)</div>
        </label>
            <input type="text" class="form-control form-control-1-4"style="width:90px;">
        </div>



<a href="/typeapprov.html" class="btn btn-primary">Continue</a>
    </div>
    {% endblock %}
